<!-- <div class="book-preview">
  <div class="title">
    <h5>{{ book.title }}</h5>
  </div>
  <div class="action">
    <button *ngIf="!isBookAlreadyPresentInCart" (click)="addBookToCart()">
      Add To Cart
    </button>
    <button *ngIf="isBookAlreadyPresentInCart" (click)="removeBookFromCart()">
      Remove From Cart
    </button>
  </div>
</div> -->
<mat-card class="book-preview" routerLink="/books/{{ book.isbn13 }}">
  <mat-card-title-group>
    <img mat-card-md-image [src]="book.image" />
    <mat-card-title>{{ book.title }}</mat-card-title>
    <mat-card-subtitle>{{ book.price }}</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-actions align="end">
    <button
      mat-raised-button
      color="accent"
      *ngIf="!isBookAlreadyPresentInCart"
      (click)="addBookToCart($event)"
    >
      Add To Cart
    </button>
    <button
      mat-raised-button
      color="warn"
      *ngIf="isBookAlreadyPresentInCart"
      (click)="removeBookFromCart($event)"
    >
      Remove From Cart
    </button>
  </mat-card-actions>
</mat-card>
