.book-preview {
  margin: 10px 0px;
}

.book-preview:hover {
  cursor: pointer;
}

mat-card-title-group {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}

mat-card-title {
  font-size: 16px;
}
