.book-preview {
  /* border: 1px solid black; */
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px; */
  /* width: 100%; */
  margin: 10px 0px;
}

mat-card-title-group {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}

mat-card-title {
  font-size: 16px;
}
