.cart-container {
  width: 70%;
  margin: auto;
}

.cart-header {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .cart-item-list {
  width: 70%;
  margin: auto;
} */

.empty-cart-info {
  display: block;
  text-align: center;
}

.cart-total-container {
  /* width: 70%;
  margin: auto; */
  /* padding: 0px 30px; */
  display: flex;
  justify-content: flex-end;
}

.checkout-container {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0px;
  padding-bottom: 10px;
}
