<div class="cart-container">
  <div class="cart-header">
    <div class="cart-title">
      <h3>Items in my cart</h3>
    </div>
    <div class="cart-actions">
      <button mat-flat-button color="warn" (click)="onClearCart()">
        Clear Cart
      </button>
    </div>
  </div>
  <div *ngIf="cartItems.length > 0" class="cart-item-list">
    <app-cart-item *ngFor="let item of cartItems" [item]="item"></app-cart-item>
  </div>
  <small class="empty-cart-info" *ngIf="cartItems.length === 0"
    >No items in your cart.</small
  >
  <div *ngIf="cartItems.length > 0" class="cart-total-container">
    <!-- <div><b>Total:</b></div> -->
    <div>
      Total: <b>{{ cartTotal | price | currency }}</b>
    </div>
  </div>
  <div class="checkout-container">
    <button mat-raised-button color="primary">Checkout</button>
  </div>
</div>
