<div class="home-container">
  <div class="new-releases-container grid-item">New releases</div>
  <div class="category-container grid-item">
    <div class="grid-title">Browse by categories</div>
    <div class="grid-item-container">
      <div class="grid-item-item">Frontend</div>
      <div class="grid-item-item">Backend</div>
      <div class="grid-item-item">Cloud</div>
      <div class="grid-item-item">Security</div>
    </div>
  </div>
  <div class="language-container grid-item">
    <div class="grid-title">Sharpen you language skills</div>
    <div class="grid-item-container">
      <div class="grid-item-item">Java</div>
      <div class="grid-item-item">Python</div>
      <div class="grid-item-item">Javascript</div>
      <div class="grid-item-item">.NET</div>
    </div>
  </div>
</div>
