<nav class="nav-bar">
  <div class="header-container">
    <h2>IT Bookstore</h2>
  </div>
  <div class="search-container">
    <div>
      <mat-form-field>
        <input
          type="text"
          id="search-input"
          name="searchInput"
          [value]="searchQuery"
          placeholder="Search books"
          #searchInput
          matInput
        />
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="onSearch()">
        Search
      </button>
    </div>
    <div>
      <a routerLink="/cart"
        ><button mat-icon-button color="accent">
          <mat-icon>shopping_cart</mat-icon>
        </button></a
      >
    </div>
  </div>
</nav>
